<% include partial/header%>
 
  <div class =container>
            <header class= jumbotron>
                <h1>Women clothing</h1>
                <p> this is the best website for women clothing</p>
                 </header>
                <div>


       
     
<% include partial/footer%>